*{
    margin: 0;
    padding: 0;
    
}
.mainContainer {
    width: 100%;
}
.imgNosotros{
    background-image: url(imgNosotros.jpeg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 43vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding-top: 50px;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
}
    .imgNosotros h1{
        font-size: 50px;
        color:white;
        
    }
    .mainNosotros{
        padding-top: 35px;
    }
    .mainNosotros p {
        font-size: 14px;
        letter-spacing: 0.02px;
        line-height: 23px;
        text-align: center;
    }
   